<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Book | Next Chapter Admin</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>Next Chapter Admin Dashboard</h1>
        <button id="logoutButton" class="logout-button">Logout</button>
    </header>
    <nav>
        <ul>
            <li><a href="/admin/viewbooks">Book List</a></li>
            <li><a href="/admin/addbook">Add Book</a></li>
            <li><a href="/admin/updatebook">Update Book</a></li>
            <li><a href="/admin/deletebook">Delete Book</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2>Add New Book</h2>
        <form action="http://127.0.0.1:3000/api/books/" method="POST">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>

            <label for="author">Author:</label>
            <input type="text" id="author" name="author" required>

            <label for="genre">Category:</label>
            <input type="text" id="category" name="category" required>

            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="4" required></textarea>

            <button type="submit">Add Book</button>
        </form>
    </div>
</body>
</html>